{% extends 'mainApp/base.html' %}

{% block content %}

  <h2>О компании</h2>
  <br><hr><br>
  <p>Компания «Ретмастер» основана в 2007 году. Основным видом деятельности компании является разработка и внедрение программного обеспечения для автоматизации торговли.</p>
  <br>
  <p>Мы предлагает программу управления розничными торговыми объектами «Формуляр». Работая в сфере автоматизиции торговли и столкнувшись с разного рода проблемами при автоматизации розничных торговых сетей был разработан собственный программый продукт, отвечающий всем требованиям современной торговли. В этом программном продукте аккумулирован наш многолетний практический опыт, идеи и достижения мировых лидеров в области розничной торговли и ИТ-технологий, пожелания наших лучших клиентов.</p>
  <br>
  <p>ОДО «Ретмастер» осуществляет внедрение, техническую поддержку и доработку программы «Формуляр». Также оказываем услуги по установке и настройки серверов на базе ОС Linux, Windows, монтаж локальных вычислительных сетей.</p>
  <br>
  <h4>Компания «Ретмастер» гарантирует:</h4>
  <ul>
    <li>Оперативную и качественную техническую поддержку.</li>
    <li>Индивидуальный подход и учет пожеланий клиентов.</li>
  </ul>
  <br>
  <h4>Реквизиты ОДО &quot;Ретмастер&quot;:</h4>
  <p>Республика Беларусь, 220034, г.Минск, ул. Краснозвездная, 18Б, помещение 3Б.</p>
  <p>Р/с 3012031673007 в ЗАО «БелСвиссБанк» РКЦ №1 БИК 153001175 по адресу: г. Минск, пл. Свободы, 4 УНП 190858981</p>

{% endblock content %}
