{% load static %}

<!DOCTYPE html>

<html>
<head>
  <title>Formular</title>
  <meta http-http-equiv="Content-Type" content="text/html" charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="formular, retmaster, формуляр, ретмастер, автоматизация розничной торговли, система автоматизации торговых сетей,">
  <meta name="description" content="Программа Formular, Формуляр - программа управления торговыми предприятиями, программа автоматизации торговли. Ретмастер - автоматизация торговых сетей, автоматизация торговли.">
  <link href="{% static 'mainApp/styles.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'mainApp/images/logo.jpg' %}" rel="shortcut icon" type="image/x-icon">
</head>

<body>

  <header>
    <a href="{% url 'mainApp:home' %}">
      <h1>FormulaR</h1>
      <p>программа автоматизации торговли</p>
    </a>
  </header>

  <nav id="top-nav">
    {% block nav %}
      <a href="{% url 'mainApp:home' %}">Главная</a>
      <a href="{% url 'mainApp:about' %}">О компании</a>
      <a href="{% url 'mainApp:posts_list' %}">Новости</a>
      <a href="{% url 'mainApp:catalog' %}">Каталог</a>
      <a href="{% url 'mainApp:clients' %}">Наши клиенты</a>
      <a href="{% url 'mainApp:contacts' %}">Контакты</a>
    {% endblock nav %}
      <a class="icon" onclick="expandMenu()">
        <div></div><div></div><div></div>
      </a>
  </nav>

  <div class="flex-container">
    <main>
      {% block content %}
      {% endblock content %}
    </main>

    <aside>
      <h3>Наши телефоны:</h3>
      <br><hr><br>
      <!-- <p><img src="{% static 'mainApp/images/phone1.png' %}" alt="">(+375 17) 33-43-903</p> -->
      <!-- <p><img src="{% static 'mainApp/images/phone2.png' %}" alt="">(+375 29) 33-43-983</p> -->
      <p>(+375 17) 33-43-903</p>
      <p>(+375 29) 33-43-983</p>
    </aside>
  </div>

  <footer>
    &copy; ОДО &laquo;Ретмастер&raquo;, 2018 г.
  </footer>

  <script src="{% static 'mainApp/scripts.js' %}"></script>

</body>
</html>
