{% load static %}

<html>
<head>
  <title>Formular</title>
  <meta http-http-equiv="Content-Type" content="text/html" charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="formular, retmaster, формуляр, ретмастер, автоматизация розничной торговли, система автоматизации торговых сетей,">
  <meta name="description" content="Программа Formular, Формуляр - программа управления торговыми предприятиями, программа автоматизации торговли. Ретмастер - автоматизация торговых сетей, автоматизация торговли.">
  <link href="{% static 'mainApp/styles.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'mainApp/images/logo.jpg' %}" rel="shortcut icon" type="image/x-icon">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>

<body>

  <header>
    <a href="{% url 'mainApp:home' %}">
      <h1>FormulaR</h1>
      <p>программа автоматизации торговли</p>
    </a>
  </header>

  <!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'mainApp:home' %}">Главная</a></li>
          <li><a href="#">О компании</a></li>
          <li><a href="{% url 'mainApp:posts_list' %}">Новости</a></li>
          <li><a href="#">Каталог</a></li>
          <li><a href="{% url 'mainApp:clients' %}">Наши клиенты</a></li>
          <li><a href="{% url 'mainApp:contacts' %}">Контакты</a></li>
        </ul>
      </div>
    </div>
  </nav> -->

  <nav>
    <a href="{% url 'mainApp:home' %}">Главная</a>
    <a href="#">О компании</a>
    <a href="{% url 'mainApp:posts_list' %}">Новости</a>
    <a href="#">Каталог</a>
    <a href="{% url 'mainApp:clients' %}">Наши клиенты</a>
    <a href="{% url 'mainApp:contacts' %}">Контакты</a>
  </nav>

  <div class="flex-container">
    <main>
      {% block content %}
      {% endblock content %}
    </main>

    <aside>
      <h2>Наши телефоны:</h2>
      <br>
      <hr>
    </aside>
  </div>

  <footer>
    &copy; ОДО &laquo;Ретмастер&raquo;, 2018 г.
  </footer>

</body>
</html>
