{% extends 'mainApp/base.html' %}
{% load static %}


{% block nav %}
  <a href="{% url 'mainApp:home' %}">Главная</a>
  <a href="{% url 'mainApp:about' %}">О компании</a>
  <a href="{% url 'mainApp:posts_list' %}">Новости</a>
  <a class="active" href="{% url 'mainApp:catalog' %}">Каталог</a>
  <a href="{% url 'mainApp:clients' %}">Наши клиенты</a>
  <a href="{% url 'mainApp:contacts' %}">Контакты</a>
{% endblock nav %}


{% block content %}

  <h3>Программа &quot;Формуляр&quot; позволяет решать основные задачи торговли:</h3>
  <br>
  <ul class="pills">
    <li>управление ассортиментом.</li>
    <li>пополнение товарных запасов, обеспечение стабильности ассортимента.</li>
    <li>контроль за товарными запасами и оборачиваемостью.</li>
    <li>контроль за сроками годности и сертификатами.</li>
    <li>контроль за поставщиками.</li>
    <li>расчеты с поставщиками.</li>
    <li>централизованное управление ценовой политикой.</li>
    <li>предоставление оперативных данных для принятия решения, аналитическая отчетность.</li>
    <li>предоставление отчетности для бухгалтерии и экспорт в бухгалтерскую программу 1С.</li>
    <li>оформление собственно производства, получение типовых форм документов.</li>
    <li>проведение акций и анализ их результатов.</li>
    <li>сокращение численности персонала.</li>
    <li>обеспечение конфиденциальности и безопасности.</li>
  </ul>
  <br>
  <h3>Система автоматизации &laquo;Ретмастер&raquo; состоит из нескольких отдельных программных модулей.</h3>
  <br>
  <p><img src="{% static 'mainApp/images/blocks.jpg' %}" alt=""></p>
  <br>
  <h3>Базовый блок</h3>
  <p>Это модуль выполняющий основные операции и служащий обязательной базой для других блоков.</p>
  <br>
  <h3>Основные функции:</h3>
  <ul class="pills">
    <li>поступление/отпуск товара.</li>
    <li>списание товара.</li>
    <li>инвентаризация.</li>
    <li>ведение справочников системы.</li>
    <li>поддержка специализированного оборудования.</li>
    <li>ценообразование.</li>
    <li>контроль за товарными запасами на этапе заказа и оприходования.</li>
    <li>отчет о превышении запасов и рекомендации к возврату.</li>
    <li>отчет по оборачиваемости.</li>
    <li>остатки товаров.</li>
    <li>движение по товарам(закупка/продажа/история розничных цен).</li>
    <li>бухгалтерские отчеты (ежедневные, ежемесячная/годовая статистика).</li>
    <li>контроль за сертификатами и сроками годности.</li>
    <li>экспорт в «1С бухгалтерию».</li>
    <li>управление «пакетом фоновых заданий» (автоматический сбор чеков с касс/запуск отчетов на ночь).</li>
    <li> статистические отчеты по чекам(средний чек/повременной отчет/по суммам чеков/по озвратам/отменам/коррекциям).</li>
  </ul>
  <br>
  <h3>Блок «КАССА»</h3>
  <p>Обеспечивает взаимодействие FormulaR с POS терминалами. Данный блок позволяет подключать кассы, работающие на фронт-офисах Maxi-Shop, SetRetail, UniPos, БелМаг, СуперМаг УКМ-4, PS POS2000, НТС-ФронтОфис (MiniMARKET).</p>
  <br>
  <h3>Основные функции:</h3>
  <ul class="pills">
    <li>ведение файла товаров.</li>
    <li>переоценка и изменение данных на POS терминалах.</li>
    <li>сбор/передача данных с касс/на кассы.</li>
  </ul>
  <br>
  <h3>Блок «ЗАКАЗ»</h3>
  <br>
  <ul class="pills">
    <li>автоматизированный заказ товаров.</li>
    <li>контроль за ассортиментом и ценами поставщика.</li>
    <li>заказ недостающих товаров.</li>
    <li>заказ по результатам продаж.</li>
  </ul>
  <br>
  <h3>Блок «ЦЕНТРАЛИЗОВАННЫЙ ЗАКАЗ»</h3>
  <p>Он позволяет осуществлять заказы товаров для всех магазинов из головного офиса.</p>

{% endblock content %}
