{% extends 'mainApp/base.html' %}


{% block nav %}
  <a href="{% url 'mainApp:home' %}">Главная</a>
  <a href="{% url 'mainApp:about' %}">О компании</a>
  <a href="{% url 'mainApp:posts_list' %}">Новости</a>
  <a href="{% url 'mainApp:catalog' %}">Каталог</a>
  <a class="active" href="{% url 'mainApp:clients' %}">Наши клиенты</a>
  <a href="{% url 'mainApp:contacts' %}">Контакты</a>
{% endblock nav %}


{% block content %}

  <h3>Наши клиенты</h3>
  <br><hr><br>
  <p>Нашими клиентами являются как крупные торговые сети, состоящие из десятков магазинов, так и индивидуальные предприниматели, владеющие несколькими торговыми объктами. У каждого из наших клиентов от 2 до 100 торговых объектов с торговыми площадями от 50 до 4000 кв.м.</p>
  <br>
  <p>Наиболее крупными клиентами являются:</p>
  <br>

  {% for client in clients %}
    <article>
      <h3>{{ client.name }}</h3>
      <p>{{ client.description }}</p>
    </article>
  {% endfor %}

{% endblock content %}
