{% extends 'mainApp/base.html' %}

{% block content %}

  <h2>Наши клиенты</h2>
  <br><hr><br>
  <p>Нашими клиентами являются как крупные торговые сети, состоящие из десятков магазинов, так и индивидуальные предприниматели, владеющие несколькими торговыми объктами. У каждого из наших клиентов от 2 до 100 торговых объектов с торговыми площадями от 50 до 4000 кв.м.</p>
  <br>
  <p>Наиболее крупными клиентами являются:</p>
  <br>

  {% for client in clients %}
    <article>
      <h3>{{ client.name }}</h3>
      <p>{{ client.description }}</p>
    </article>
  {% endfor %}

{% endblock content %}
