{% extends 'mainApp/base.html' %}


{% block nav %}
  <a href="{% url 'mainApp:home' %}">Главная</a>
  <a href="{% url 'mainApp:catalog' %}">Каталог</a>
  <a href="{% url 'mainApp:clients' %}">Наши клиенты</a>
  <a href="{% url 'mainApp:posts_list' %}">Новости</a>
  <a href="{% url 'mainApp:about' %}">О компании</a>
  <a class="active" href="{% url 'mainApp:contacts' %}">Контакты</a>
{% endblock nav %}


{% block content %}

  <article>
    <h3>Наименование:</h3>
    <p>ОДО "Ретмастер"</p>
    <br>
    <h3>Адрес офиса:</h3>
    <p>Республика Беларусь, 220034, г.Минск, ул. Краснозвездная, 18Б, каб. 203, 204.</p>
    <br>
    <h3>Почтовый адрес:</h3>
    <p>Республика Беларусь, 220034, г.Минск, ул. Краснозвездная, 18Б, пом. 3Б</p>
    <br>
    <h3>Электронная почта:</h3>
    <p>info@formular.by</p>
  </article>
  <div class="center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3372.2732650802955!2d27.588500905952483!3d53.90739360594783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfb1b0623f8b%3A0xf42871b02c883973!2z0YPQuy4g0JrRgNCw0YHQvdC-0LfQstGR0LfQtNC90LDRjyAxONCxLCDQnNC40L3RgdC6!5e0!3m2!1sru!2sby!4v1534926362102" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="container">
    <form action="{% url 'mainApp:contacts' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Отправить">
    </form>
  </div>

{% endblock content %}
