{% extends 'mainApp/base.html' %}


{% block nav %}
  <a href="{% url 'mainApp:home' %}">Главная</a>
  <a href="{% url 'mainApp:about' %}">О компании</a>
  <a href="{% url 'mainApp:posts_list' %}">Новости</a>
  <a href="{% url 'mainApp:catalog' %}">Каталог</a>
  <a href="{% url 'mainApp:clients' %}">Наши клиенты</a>
  <a class="active" href="{% url 'mainApp:contacts' %}">Контакты</a>
{% endblock nav %}


{% block content %}

  <h2>Контакты</h2>
  <br><hr><br>
  <h3>Наименование:</h3>
  <p>ОДО "Ретмастер"</p>
  <h3>Адрес офиса:</h3>
  <p>Республика Беларусь, 220034, г.Минск, ул. Краснозвездная, 18Б, каб. 203, 204.</p>
  <h3>Почтовый адрес:</h3>
  <p>Республика Беларусь, 220034, г.Минск, ул. Краснозвездная, 18Б, пом. 3Б</p>
  <h3>Электронная почта:</h3>
  <p>info@formular.by</p>
  <br>
  <!-- <h3>Местоположение на карте:</h3>
  <iframe width="480" height="400" scrolling="no" frameborder="0" src=""></iframe> -->

  <div class="container">
    <form action="{% url 'mainApp:contacts' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Отправить">
    </form>
  </div>

{% endblock content %}
