{% extends 'mainApp/base.html' %}
{% load static %}

{% block content %}

  <h2>Главная</h2>
  <br>
  <hr>
  <br>
  <img class="logo" src="{% static 'mainApp/images/logo.jpg' %}" alt="logo">
  <p>Формуляр - программа для управления розничными торговыми объектами, которая позволяет автоматизировав процессы учета и анализа товародвижения обеспечить централизованное управление розничной торговой сетью в режиме реального времени.</p>
  <br>
  <p>Программа "Формуляр" предназначена для организации достоверного учета, статистического анализа и контроля всех видов движения товаров с целью оптимизации управления бизнес-процессами и повышения эффективности работы торгового предприятия.</p>
  <br>
  <p>Главная цель - улучшив управляемость бизнесом принести явный экономический эффект, увеличить оборот и прибыль, при этом сократить расходы и издержки.</p>

{% endblock content %}
