{% extends 'mainApp/base.html' %}
{% load static %}


{% block nav %}
  <a class="active" href="{% url 'mainApp:home' %}">Главная</a>
  <a href="{% url 'mainApp:about' %}">О компании</a>
  <a href="{% url 'mainApp:posts_list' %}">Новости</a>
  <a href="{% url 'mainApp:catalog' %}">Каталог</a>
  <a href="{% url 'mainApp:clients' %}">Наши клиенты</a>
  <a href="{% url 'mainApp:contacts' %}">Контакты</a>
{% endblock nav %}


{% block content %}

  <p><img class="logo" src="{% static 'mainApp/images/logo.jpg' %}" alt="logo"></p>
  <p>Формуляр - программа для управления розничными торговыми объектами, которая позволяет автоматизировав процессы учета и анализа товародвижения обеспечить централизованное управление розничной торговой сетью в режиме реального времени.</p>
  <br>
  <p>Программа "Формуляр" предназначена для организации достоверного учета, статистического анализа и контроля всех видов движения товаров с целью оптимизации управления бизнес-процессами и повышения эффективности работы торгового предприятия.</p>
  <br>
  <p>Главная цель - улучшив управляемость бизнесом принести явный экономический эффект, увеличить оборот и прибыль, при этом сократить расходы и издержки.</p>
  <br>
  <h3>Программа "Формуляр" применяется для автоматизации:</h3>
  <br>
  <ul class="pills">
    <li>Розничных торговых сетей.</li>
    <li>Отдельных магазинов, супермаркетов.</li>
    <li>Распределительных центров, складов.</li>
    <li>Кафе, бара.</li>
  </ul>
  <br>
  <h3>Ключевые преимущества программы FormulaR:</h3>
  <br>
  <ul class="pills">
    <li>Совместимость с большинством POS, а также недорогими КСА, работающими в режиме on-line.</li>
    <li>Достоверность и актуальность данных, работа в режиме реального времени.</li>
    <li>Объединение информации всех торговых объектов в едином информационном пространстве.</li>
    <li>Наиболее высокая скорость.</li>
    <li>Оперативная адаптивность к изменяющимся условиям розницы в условиях РБ.</li>
    <li>Быстрая и качественная техподдержка в Беларуси.</li>
    <li>Неограниченное количество пользователей, в отличии от большинства решений, где каждое рабочее место оплачивается дополнительно.</li>
    <li>Низкие требования к оборудованию, позволяющие использовать оборудование стоимостью в несколько раз ниже, чем при работе с другими решениями.</li>
    <li>Простой интерфейс не требующий серьезного обучения персонала для работы с ним и практически полностью исключающий ошибки пользователя.</li>
    <li>Удалённое администрирование.</li>
  </ul>
  <br>
  <h3>Типовая схема построения сети:</h3>
  <br>
  <p><img src="{% static 'mainApp/images/network_scheme.gif' %}" alt=""></p>

{% endblock content %}
