{% extends 'mainApp/base.html' %}


{% block nav %}
  <a href="{% url 'mainApp:home' %}">Главная</a>
  <a href="{% url 'mainApp:about' %}">О компании</a>
  <a class="active" href="{% url 'mainApp:posts_list' %}">Новости</a>
  <a href="{% url 'mainApp:catalog' %}">Каталог</a>
  <a href="{% url 'mainApp:clients' %}">Наши клиенты</a>
  <a href="{% url 'mainApp:contacts' %}">Контакты</a>
{% endblock nav %}


{% block content %}

  <article>
    <p class="date">{{ post.date }}</p>
    <h3>{{ post.title }}</h3>
    <br>
    <p>{{ post.text|linebreaksbr }}</p>
    {% if post.image %}
      <p><img src="{{ post.image.url }}"></p>
    {% endif %}
  </article>

{% endblock content %}
