{% extends 'mainApp/base.html' %}


{% block nav %}
  <a href="{% url 'mainApp:home' %}">Главная</a>
  <a href="{% url 'mainApp:about' %}">О компании</a>
  <a class="active" href="{% url 'mainApp:posts_list' %}">Новости</a>
  <a href="{% url 'mainApp:catalog' %}">Каталог</a>
  <a href="{% url 'mainApp:clients' %}">Наши клиенты</a>
  <a href="{% url 'mainApp:contacts' %}">Контакты</a>
{% endblock nav %}


{% block content %}

  <h2>Новости</h2>
  <br><hr><br>

  {% for post in posts %}
    <article>
      <p>{{ post.date }}</p>
      <h3>
        <a href="{% url 'mainApp:post_detail' post_id=post.id %}">{{ post.title }}</a>
      </h3>
    </article>
  {% endfor %}

  <div class="center">
    <div class="pagination">
      {% if posts.has_previous %}
        {% if posts.previous_page_number != 1 %}
          <a href="{% url 'mainApp:posts_list' page_num=1 %}">1</a>
          {% if posts.previous_page_number != 2 %}
            <a>&hellip;</a>
          {% endif %}
        {% endif %}
        <a href="{% url 'mainApp:posts_list' page_num=posts.previous_page_number %}">{{posts.previous_page_number}}</a>
      {% endif %}
      <a class="active">{{ posts.number }}</a>
      {% if posts.has_next %}
        <a href="{% url 'mainApp:posts_list' page_num=posts.next_page_number %}">{{posts.next_page_number}}</a>
        {% if posts.next_page_number != posts.paginator.num_pages %}
          {% if posts.next_page_number|add:"1" != posts.paginator.num_pages %}
            <a>&hellip;</a>
          {% endif %}
          <a href="{% url 'mainApp:posts_list' page_num=posts.paginator.num_pages %}">{{posts.paginator.num_pages}}</a>
        {% endif %}
      {% endif %}
    </div>
  </div>

{% endblock content %}
