@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Bangers|Forum|Monoton|Share');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Footer to bottom: */
  /* display: flex;
  flex-direction: column;
  height: 100vh; */
  background-color: white;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #000080;
  color: white;
  font-size: 25px;
}

header h1 {
  font-family: 'Monoton', sans-serif;
}

header p {
  font-family: 'Arial', sans-serif;
}

h2 {
  font-size: 20px;
  font-family: 'Arial';
}

hr {
  border: none;
  border-top: 1px dotted #000080;
}

.logo {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #d7ff45;
  overflow: hidden;
}

nav a {
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  color: black;
  background-color: #d7ff45;
  font-size: 18px;
  top: 0px;
  border-bottom-width: 2px;
  border-bottom-color: #363636;
  border-bottom-style: solid;
}

nav a:hover {
  background: #ddd;
  color: black;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* Footer to bottom: */
  /* flex: 1; */
}

main {
  flex: 70%;
  height: 500px;
  text-align: left;
  padding: 3%;
  font-family: 'Verdana';
  font-size: 14px;
}

.line1 {
  background-color: #fff;
  box-shadow: 0px 30px 5px 3px rgba(215,255,69,0.85);
  height: 250px;
  marging: 10px;
}

aside {
  flex: 25%;
  padding: 3%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: grey;
}

article {
  border: solid; /* TODO */
  border-color: yellow;
}

@media screen and (max-width: 700px) {
    .flex-container, nav {
        flex-direction: column;
    }
}
