@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Bangers|Forum|Monoton|Share');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  /* Footer to bottom: */
  /* display: flex;
  flex-direction: column;
  height: 100vh; */
}

header {
  text-align: center;
  padding: 20px;
  background-color: #000080;
  color: white;
  font-size: 25px;
}

header h1 {
  font-family: 'Monoton', sans-serif;
}

header p {
  font-family: 'Arial', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #d7ff45;
  margin-bottom: 20px;
}

nav a {
  text-align: center;
  padding: 15px 20px;
  background-color: #d7ff45;
  color: black;
  font-size: 18px;
  border-bottom-width: 2px;
  border-bottom-color: #363636;
  border-bottom-style: solid;
}

nav a:hover {
  background: #ddd;
  color: black;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* Footer to bottom: */
  /* flex: 1; */
}

main {
  flex: 70%;
  text-align: left;
  padding: 0% 3%;
  font-family: 'Verdana';
  font-size: 14px;
}

aside {
  flex: 25%;
  padding: 0% 3%;
  border-left: 4px solid rgba(215,255,69,0.85);
}

@media screen and (max-width: 750px) {
  aside {
    border-left: 0;
  }
  main {
    margin-bottom: 3%;
  }
}

footer {
  margin-top: 10px;
  /* position: fixed;
  left: 0;
  bottom: 0; */
  width: 100%;
  text-align: center;
  padding: 8px;
  background-color: grey;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 20px;
  font-family: 'Arial';
}

hr {
  border: none;
  border-top: 1px dotted #000080;
}

.logo {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}

article {
  border: solid; /* TODO */
  border-color: yellow;
}

@media screen and (max-width: 750px) {
    .flex-container, nav {
        flex-direction: column;
    }
}
